body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: #f5f5f5;
    /* Set your desired background color */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.login-form {
    background: rgba(255, 255, 255, 0.9);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    width: 350px;
    text-align: center;
    margin: auto;
    /* Added margin:auto to center the form */
}

.form-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: #333;
}

input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ddd;
    border-radius: 6px;
}

button {
    width: 100%;
    padding: 12px;
    box-sizing: border-box;
    background-color: #4285f4;
    color: #fff;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0066cc;
}

.forgot-password-link {
    color: #4285f4;
    text-decoration: none;
}

.forgot-password-link:hover {
    text-decoration: underline;
}